<div class="scrollable">
    <div #primero id="{{generalData.basicData}}">
        <div class="container__flex">
            <h3>Datos Basicos</h3>
            <form [formGroup]="form1" novalidate>
                <input type="number" formControlName="number1">
                <div formArrayName="details" *ngFor="let detail of details.controls; let i = index">
                    <div [formGroupName]="i">
                        <input type="text" formControlName="name">
                        <input type="text" formControlName="lastname">
                        <button (click)="remove(i)">eliminar</button>
                    </div>
                </div>
                <button type="button" (click)="agregar()">agregar</button>
            </form>
        </div>
    </div>

    <div #constitutionData (insideViewport)="onElement($event,'blockone')" id="{{generalData.constitutionData}}">
        <div class="container__flex">
            <h3>Datos de constitucion</h3>
            <form [formGroup]="form2" novalidate>
                <input type="number" formControlName="number1">
                <div formArrayName="details2" *ngFor="let detail of details2.controls; let i = index">
                    <div [formGroupName]="i">
                        <input type="text" formControlName="name">
                        <input type="text" formControlName="lastname">
                        <button (click)="remove2(i)">eliminar</button>
                    </div>
                </div>
                <button type="button" (click)="agregar2()">agregar</button>
            </form>
        </div>
    </div>

    <div #addressData (insideViewport)="onElement($event,generalData.addressData)" id="{{generalData.addressData}}"
        class="altura">
        <div class="container__flex">
            <h3>Datos del domicilio</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minus atque dolore magni voluptatem
                libero numquam illo laboriosam fugiat hic vel veritatis, corporis provident, quisquam eos temporibus, ea
                amet cum.

            </p>
        </div>
    </div>
    <div #economicData id="{{generalData.economicData}}" class="altura">
        <div class="container__flex">
            <h3>Datos del economicos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minus atque dolore magni voluptatem
                libero numquam illo laboriosam fugiat hic vel veritatis, corporis provident, quisquam eos temporibus, ea
                amet cum.

            </p>
        </div>
    </div>
    <div #selfCertification id="{{generalData.selfCertification}}" class="altura">
        <div class="container__flex">
            <h3>Autocertificacion</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minus atque dolore magni voluptatem
                libero numquam illo laboriosam fugiat hic vel veritatis, corporis provident, quisquam eos temporibus, ea
                amet cum.

            </p>
        </div>
    </div>
</div>