<div class="scrollable">
    <div #inicio1 class="altura">
        <div class="jc-row">
            <div class=" col-md-12 col-sm-24 col-lg-12">
                <h1>hola</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum perspiciatis consectetur et ipsa?
                    Blanditiis quo alias deserunt consectetur ex ipsa tempora, error corporis nisi iure quis eos maiores
                    temporibus impedit esse! Ratione quis ad velit eligendi sit culpa est exercitationem omnis! Officiis
                    nihil dolor earum iusto culpa doloremque sit eveniet ipsam deserunt voluptate? Corporis magni aut
                    distinctio assumenda nisi. Modi cumque commodi et veritatis dolore numquam, architecto nemo unde
                    repudiandae veniam, blanditiis pariatur? Fugiat, consectetur blanditiis vitae repudiandae rerum
                    sequi non quae nisi voluptate quod sed alias facere dolorum repellat similique, voluptatibus quia
                    adipisci natus nemo amet. Rem assumenda placeat provident. Possimus amet dicta maxime nulla eius
                    natus tempora veritatis at, inventore, deserunt molestiae, ut exercitationem iste explicabo dolore
                    beatae quibusdam officia saepe nesciunt eveniet blanditiis. Minima veniam atque dolorem illum, odio
                    assumenda provident quae ad vel unde velit laborum officia blanditiis at similique autem aliquid
                    quis, voluptates ex voluptate quaerat temporibus, excepturi ratione? Cupiditate omnis libero totam
                    magni voluptatem rem similique nulla maiores cumque quas consequatur, natus modi aliquam quibusdam,
                    beatae quod debitis? Magni vel quo ullam. Consectetur necessitatibus veniam modi quia ipsa
                    doloremque quam quibusdam. Sequi alias eum perferendis veniam cumque reiciendis illum adipisci,
                    delectus deserunt rem quae quo voluptate esse rerum asperiores quas doloremque excepturi quasi quod
                    sed velit nesciunt nobis? Assumenda corporis minus ratione quam atque quos ducimus beatae aut
                    aliquam, impedit sint? Beatae reprehenderit ad praesentium consequatur, numquam voluptatibus ipsum
                    aspernatur itaque aliquam perspiciatis sunt? Eos accusamus quo ipsa sequi optio aliquam. Porro
                    debitis animi nihil ullam veniam, dolorum explicabo, maxime voluptates quasi modi minus totam?
                    Voluptatem quasi eos necessitatibus recusandae nihil officiis reprehenderit eaque, quae libero
                    accusantium laboriosam omnis vero quo accusamus. Voluptate distinctio incidunt facilis culpa illum
                    iusto voluptatibus veritatis necessitatibus atque voluptas adipisci repellat sit ut, animi deserunt
                    perspiciatis error eos tempore nostrum iste laudantium recusandae! Debitis molestiae, sint eum
                    illum, impedit inventore obcaecati doloribus iure nostrum ratione voluptate quia iste quasi facere
                    sequi facilis accusantium explicabo voluptates repellat qui ducimus. Laudantium optio rerum cumque
                    eaque quasi facilis sunt fugiat, dolore sequi? Odit quasi, libero quidem at eaque eveniet fugit
                    aliquid excepturi, aut voluptates, est explicabo. Ad harum repellat ipsa at quisquam molestiae
                    dolore, recusandae tempora, dolorem id nam natus ab itaque ducimus, aliquid nemo quas aspernatur
                    quia minima tempore maxime perspiciatis eos ratione commodi! Sed possimus aperiam quidem commodi,
                    nisi odio sapiente optio libero amet autem voluptas dolore saepe sunt quam cum ab id laborum
                    repellat quaerat. Libero quam voluptatum sunt, obcaecati aperiam, ratione maiores placeat eum
                    cumque, tempora fugiat numquam omnis repudiandae. Dolorum unde dolore possimus eum suscipit placeat
                    maxime saepe cum mollitia fugit nisi illo officia modi commodi doloribus, hic illum. Veniam at ab
                    alias, consequuntur numquam, perferendis consectetur laborum reprehenderit ea placeat, rem
                    voluptatum. Blanditiis, cupiditate iusto minima facere exercitationem ipsa quis, ipsam aliquid
                    maxime officia laborum maiores consequuntur possimus repellat distinctio iure asperiores cumque
                    commodi odit hic quia nesciunt pariatur! Libero possimus doloribus dolorem labore excepturi velit
                    cupiditate, animi adipisci temporibus quia modi consectetur recusandae fugit, optio eius
                    reprehenderit vel. Voluptate aperiam nemo architecto dolore laudantium odit praesentium quaerat
                    repellat alias natus magni, sunt ut nesciunt. Accusantium, est provident quia fugiat nobis laborum
                    architecto autem, nulla perspiciatis exercitationem ipsam adipisci? Tempora numquam quam saepe
                    consectetur explicabo eos repellendus, hic, perferendis facere nihil alias tempore praesentium harum
                    blanditiis iusto corporis sequi. Aliquid, nihil ducimus. Tenetur sint, architecto esse omnis quos
                    odio obcaecati. Aliquam harum, corporis, natus illo earum eius cum modi itaque consequatur sit
                    suscipit a inventore autem ea nulla unde, doloribus cumque quam laboriosam porro sed? Aliquam ipsum
                    nobis omnis ut corporis debitis, in nemo quos voluptatem perferendis! Facere hic nulla nemo neque
                    consequatur pariatur, est minus debitis velit mollitia nihil, tempora accusamus voluptate. Nesciunt
                    maxime, quia ducimus amet qui praesentium nihil enim aperiam corrupti sapiente eum totam facere
                    error quod obcaecati ut molestiae! Soluta quia, cumque voluptates assumenda illo inventore ullam
                    accusamus sapiente officiis voluptate, eos tempora tempore, numquam atque. Illum ut delectus
                    pariatur quod est possimus, aliquam ipsa dolorem optio beatae odit non quos dolorum quisquam iusto
                    aspernatur. Earum adipisci nihil fugit magnam sunt fugiat ducimus laborum cupiditate commodi optio
                    nesciunt sapiente numquam quaerat eveniet delectus aliquam provident sequi a facere cumque, aperiam
                    ex officiis? Tempora enim, hic quam officiis, eius recusandae cum deserunt possimus rerum quas
                    reprehenderit repellat, at est voluptates unde autem! Ratione blanditiis molestiae voluptatibus
                    distinctio, repudiandae repellat! Laboriosam eaque, aliquid nam nisi magni rerum minima officiis
                    natus obcaecati dolores beatae possimus a, saepe dolorum reiciendis nulla veritatis sunt, nemo illo
                    voluptas exercitationem ratione dolorem dicta! Facilis, distinctio expedita est dolorum perspiciatis
                    reprehenderit temporibus optio, fuga explicabo, soluta nesciunt quisquam! Sapiente, ut id, ipsa
                    tempore quia commodi quibusdam deleniti mollitia consequuntur nisi nesciunt, eveniet quod soluta. Id
                    animi, nisi accusantium veniam debitis enim soluta nesciunt eligendi aut, explicabo quos aliquid
                    maiores veritatis alias aperiam porro quia corrupti optio, laborum itaque ipsa amet et dolores?
                    Harum magni odio necessitatibus voluptatum libero ipsam unde consectetur. Quasi architecto modi ut
                    voluptas aliquam, saepe dignissimos dolore? Soluta voluptas quam quae incidunt sapiente ipsam at,
                    quaerat aliquid iure libero nemo veritatis, id corporis minus illo modi accusamus aliquam odio unde
                    eos repellendus eaque ad! Et suscipit consectetur veniam rem officia repellendus eligendi
                    voluptatibus, iusto minus libero? Vitae quod repellendus cum repellat quidem ea, maxime blanditiis
                    hic aliquid debitis ratione a iure, voluptas natus! A officia, praesentium magnam quam tempora omnis
                    corrupti eaque unde, modi, nulla enim et rerum ipsam eveniet iste molestias quaerat autem. Quis quas
                    accusantium accusamus voluptatum sint totam amet reprehenderit inventore quaerat, delectus autem
                    placeat voluptates nostrum laborum ipsum consequuntur dolore! Doloremque, molestias! Error
                    consequuntur doloremque repudiandae natus nostrum velit culpa necessitatibus veritatis molestias
                    facere placeat explicabo aliquid ratione quos ipsam sunt quam, corrupti, fuga eaque excepturi omnis
                    eius voluptate ut rem? Eius cum voluptates fugiat perspiciatis voluptatibus deleniti porro obcaecati
                    facilis numquam dicta soluta id eum consequuntur sunt eos corrupti at, culpa ad minus doloremque ea
                    necessitatibus velit sit aliquid. Officiis cupiditate sed ducimus praesentium nulla ipsum eum
                    perferendis deleniti, fugiat nisi neque.</p>
            </div>
            <div class=" col-md-12 col-sm-24 col-lg-12">
                hola2
            </div>


        </div>
    </div>


</div>