/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  //   overscroll-behavior-y: none;
}

.pointer {
  cursor: pointer;
}

// sistemas de columnas

$ncols: 24;
$brand: "jc";

$breakpoins: (
  "xs": 0,
  "sm": 576px,
  "md": 760px,
  "lg": 992px,
  "xl": 1200,
  "xxl": 1400px,
);

@mixin cols($bks, $cols, $prefix) {
  @each $name, $bk in $breakpoins {
    @media (min-width: $bk) {
      @for $i from 1 to $cols + 1 {
        .#{$prefix}-#{$name}-#{$i} {
          width: (($i * 100) / $cols) * 1%;
        }
      }
    }
  }
}

.#{$brand}-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // min-height: 100vh;
}

@include cols($breakpoins, $ncols, "col");
